@model AirportManagementSystem.Models.Admin.AdminLogin

@{
    ViewBag.Title = "AdminLogin";
}

<h2>Admin Login</h2>

<div class="container body-content">
    @if (TempData["saved"] != null)
    {
        <div class="alert alert-info">
            @TempData["saved"];
        </div>
    }
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AdminID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdminID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdminID, "", new { @class = "text-danger" })
            <span class="text-danger">@TempData["superRoot"]</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <span class="text-danger">@TempData["adminLogin"]</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-primary" />
            @Html.ActionLink("Register", "AdminRegister", "Admin", new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}

<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
