@model IEnumerable<AirportManagementSystem.Models.Manager.ManagerDetails>

@{
    ViewBag.Title = "Managers";
}

<h2>Managers</h2>


@if (true)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContectNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isApproved)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContectNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isApproved)
                </td>
                <td>
                    @if (item.isApproved == true)
                    {
                        <span> | Approve |</span>
                        <span>| @Html.ActionLink("Reject", "ManagerRejected", new { id = item.ID }, new { onclick = "return pop('Are you sure want to Reject?')" }) |</span>
                    }
                    else
                    {
                        <span>| @Html.ActionLink("Approve", "ManagerApproved", new { id = item.ID }, new { onclick = "return pop('Are you sure want to Approve?')" }) |</span>
                        <span>| Reject |</span>
                    }

                    
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>No Data</h3>
}

<script type="text/javascript">
    function pop(txt) {
        if (confirm(txt))
            return true;
        else
            return false;
    }
</script>

<div>
    @Html.ActionLink("Back", "Index")
</div>

<hr />
