@model IEnumerable<AirportManagementSystem.Models.Planes.PlaneDetails>

@{
    ViewBag.Title = "Reporting_Planes";
}

<h2>Reporting Planes</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaneType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaneCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAllotted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAllotted)
            </td>
            <td>
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "Reporting")
</div>
<hr />