@model IEnumerable<AirportManagementSystem.Models.Planes.HangarDetails>

@{
    ViewBag.Title = "Reporting_Hangar";
}

<h2>Reporting Hangar</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HangerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HangerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "Reporting")
</div>
<hr />